.select{
    font-size: 1rem;
    color: hsla(0,0%,100%,.87);
    background: #1e1e1e;
    padding: 0.5rem 0.5rem;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}

.select:last-child{
    margin-right: 0;
}