.Card {
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
  background-color: #1e1e1e;
  margin: 10px;
  overflow: auto;
  padding: 10px;
}

.itemCountry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 8px;
}

.itemCountry:hover {
  background-color: rgba(198, 40, 40, 20%);
  transition: all 0.25s ease;
}

img {
  width: 36px;
  height: auto;
  margin-right: 10px;
}

.cases {
  margin-left: 10px;
  color: rgb(198, 40, 40);
}

.deaths {
  margin-left: 10px;

  color: #ef6c00;
}

.recovered {
  margin-left: 10px;

  color: #2e7d32;
}
