.CardCases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
  background-color: #1e1e1e;
  height: 90px;
  margin: 10px;
}

.cases {
  color: #c62828;
  font-size: 32px;
}

.deaths {
  color: #ef6c00;
  font-size: 32px;

}

.recovered {
  color: #2e7d32;
  font-size: 32px;

}
